body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.btn-block {
  width: 100%;
  margin-bottom: 24px;
}
